@model ToDoList.Models.ViewModels.TodoViewModel
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th scope="col">Id </th>
                <th scope="col">Task </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var todo in Model.TodoList)
            {
                <tr>
                    <td class="todos-column" scope="row">@todo.Id </td>
                    <td class="todos-column">@todo.TaskName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

