﻿html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background {
    position: relative;
    z-index: 1;
    height: 100vh;
}

    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("https://images.unsplash.com/photo-1612690119274-8819a81c13a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV1dHJhbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
        opacity: .1;
    }

.buttons-column {
    text-align: end;
}

.todos-column {
    vertical-align: middle;
}
